.wrapper {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  margin: auto;
  text-align: center;
}

.link {
  color: rgba(76, 76, 255, 1);
}

.errorMessage {
  color: #e52b1a;
  text-align: center;
}

.inputEmail,
.inputPwd {
  cursor: text;
}

