.wrapper {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
  gap: 60px;
}

.nav {
  max-width: 340px;
  display: flex;
  flex-direction: column;
  gap: 88px;
}


